* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.bold.svelte-dke0dd {
  font-weight: 700;
}

.underline.svelte-dke0dd {
  text-decoration: underline;
}

.italic.svelte-dke0dd {
  font-style: italic;
}

.strikethrough.svelte-dke0dd {
  text-decoration: line-through;
}

a.svelte-5jj3s6 {
  position: relative;
}

a.svelte-5jj3s6:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
}

.card.svelte-v27p60 {
  padding: 60px 50px;
}

@media (max-width: 1880px) {
  .card.svelte-v27p60 {
    padding: 60px 40px;
  }
}

.card.svelte-v27p60:nth-child(2n) {
  background-color: var(--dark-bg-color);
}

@media (min-width: 720px) and (max-width: 1366px) {
  .card.svelte-v27p60:nth-child(2n) {
    background-color: auto;
  }

  .card.svelte-v27p60 {
    background-color: var(--dark-bg-color);
  }

  .card.svelte-v27p60:nth-child(3n + 1) {
    background-color: var(--primary-bg-color) !important;
  }
}

h3.svelte-v27p60 {
  text-transform: uppercase;
  max-width: 80%;
}

@media (max-width: 1880px) {
  h3.svelte-v27p60 {
    max-width: 100%;
  }
}

.description.svelte-v27p60 {
  margin-top: 135px;
}

@media (max-width: 1880px) {
  .description.svelte-v27p60 {
    margin-top: 80px;
  }
}

@media (max-width: 1024px) {
  .description.svelte-v27p60 {
    margin-top: 70px;
  }
}

@media (max-width: 719px) {
  .card.svelte-v27p60 {
    padding: 40px 25px;
  }

  .description.svelte-v27p60 {
    margin-top: 26px;
  }
}

.layout.svelte-4ubdxg {
  display: grid;
}

.align_bottom.svelte-4ubdxg {
  align-items: flex-end;
}

.gap.svelte-4ubdxg {
  --gap: 20px;
  gap: var(--gap);
}

.full.svelte-4ubdxg {
  grid-template-columns: 1fr;
}

.two.svelte-4ubdxg {
  grid-template-columns: repeat(2, 1fr);
}

.three.svelte-4ubdxg {
  grid-template-columns: repeat(3, 1fr);
}

.four.svelte-4ubdxg {
  grid-template-columns: repeat(4, 1fr);
}

[class~="half-and-third"].svelte-4ubdxg {
  grid-template-columns: calc(53% - var(--gap)) calc(33.33% - var(--gap));
  justify-content: space-between;
}

[class~="2/3"].svelte-4ubdxg {
  grid-template-columns: 2fr 1fr;
}

[class~="3/2"].svelte-4ubdxg {
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 1366px) {
  .four.svelte-4ubdxg,
  .three.svelte-4ubdxg {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .two.wrap_md.svelte-4ubdxg {
    grid-template-columns: 1fr;
  }

  [class~="half-and-third"].svelte-4ubdxg {
    grid-template-columns: calc(60% - var(--gap)) calc(33.33% - var(--gap));
    justify-content: space-between;
  }
}

@media (max-width: 980px) {
  .three.svelte-4ubdxg,
  .four.svelte-4ubdxg {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  }

  [class~="half-and-third"].wrap_md.svelte-4ubdxg {
    grid-template-columns: 1fr;
  }
}

[hidden].svelte-1jon0hs.svelte-1jon0hs {
  display: none;
}

.footer.svelte-1jon0hs.svelte-1jon0hs {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin-top: 40px;
}

.footer.svelte-1jon0hs p.svelte-1jon0hs {
  color: var(--primary-opacity-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer.svelte-1jon0hs p a.svelte-1jon0hs {
  color: var(--primary-color);
}

.input-group.svelte-1jon0hs.svelte-1jon0hs {
  position: relative;
  max-width: 90%;
  transition: margin 0.25s ease;
}

@media (max-width: 1024px) {
  .input-group.svelte-1jon0hs.svelte-1jon0hs {
    max-width: unset;
  }

  .footer.svelte-1jon0hs.svelte-1jon0hs {
    flex-wrap: wrap;
  }
}

.input-group.svelte-1jon0hs.svelte-1jon0hs:has(small) {
  margin-bottom: 1rem;
}

.input-group.svelte-1jon0hs label.svelte-1jon0hs:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #6f6f6f;
  transition: background 0.25s ease;
}

.input-group.svelte-1jon0hs label span.svelte-1jon0hs {
  position: absolute;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.13px;
  letter-spacing: 0.03em;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  transition: opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

input.svelte-1jon0hs.svelte-1jon0hs {
  background-color: transparent;
  padding: 16px 0;
  border: 0;
  margin: 0;
  outline: none;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.13px;
  letter-spacing: 0.03em;
  width: 100%;
}

input.svelte-1jon0hs.svelte-1jon0hs::placeholder {
  opacity: 0;
}

.input-group.svelte-1jon0hs:has(input:focus) label.svelte-1jon0hs:after {
  background-color: var(--primary-color);
}

.input-group.svelte-1jon0hs:has(input:placeholder-shown)
  label
  span.svelte-1jon0hs {
  opacity: 1;
}

small.svelte-1jon0hs.svelte-1jon0hs {
  position: absolute;
  font-size: 13px;
  pointer-events: none;
  display: flex;
  gap: 6px;
  margin-top: 5px;
  align-items: center;
}

button.svelte-1jon0hs.svelte-1jon0hs {
  font-size: 16px;
  font-weight: 275;
  line-height: 20.13px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--primary-color);
  padding: 4px 0;
  margin: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(111, 111, 111, 1);
  cursor: pointer;
}

button.svelte-1jon0hs.svelte-1jon0hs:disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 480px) {
  .input-group.svelte-1jon0hs.svelte-1jon0hs:not(:last-child) {
    margin-top: 16px;
  }

  input.svelte-1jon0hs.svelte-1jon0hs {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.13px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  small.svelte-1jon0hs.svelte-1jon0hs {
    font-size: 10px;
    font-weight: 400;
    line-height: 12.58px;
    text-align: right;
  }

  small.svelte-1jon0hs img.svelte-1jon0hs {
    width: 18px;
    height: 18px;
  }
}

.mt.svelte-osl136 {
  margin-top: 50px;
}

h2.svelte-osl136 {
  width: 78%;
}

.form.svelte-osl136 {
  padding-right: 173px;
}

.tabs.svelte-osl136 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

h2.svelte-osl136,
h3.svelte-osl136 {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .two {
    gap: 40px;
  }

  .form.svelte-osl136 {
    padding-right: 0;
  }

  .tabs.svelte-osl136 {
    padding-left: 0;
  }

  h2.svelte-osl136 {
    width: 100%;
    margin-bottom: 0;
  }

  .tabs.svelte-osl136 {
    gap: 20px;
  }

  h3.svelte-osl136 {
    padding-left: 0;
    margin-top: 0;
    display: none;
  }
}

@media (max-width: 680px) {
  .layout.two {
    grid-template-columns: 1fr;
  }

  .tabs.svelte-osl136 {
    margin-top: 100px;
  }
}

@media (max-width: 375px) {
  .tabs.svelte-osl136 {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  }
}

h4.svelte-osl136,
p.svelte-osl136 {
  font-size: 13px;
  font-weight: 500;
  line-height: 16.35px;
  letter-spacing: 0.04em;
  text-align: left;
}

h4.svelte-osl136 {
  margin-top: 0;
  text-transform: uppercase;
}

p.svelte-osl136 {
  font-weight: 300;
  color: var(--primary-opacity-color);
}

p.svelte-osl136:last-of-type {
  margin-bottom: 0;
}

.address.svelte-osl136 {
  margin-top: 1rem;
}

.address p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-opacity-color);
}

.container.sticky.svelte-iclmx2 {
  position: sticky;
}

.container.svelte-iclmx2 {
  width: 100%;
  height: 100dvh;
  position: relative;
  top: 0;
  margin-top: 55px;
}

img.svelte-iclmx2,
video.svelte-iclmx2 {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

img.svelte-14dhi5o {
  width: 100%;
  height: 130%;
  object-fit: cover;
  object-position: center;
}

article.s.svelte-14dhi5o {
  aspect-ratio: 593/475;
}

article.m.svelte-14dhi5o {
  aspect-ratio: 900/721;
}

article.svelte-14dhi5o {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

article.svelte-14dhi5o:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0000 46.95%, #1f1f1f);
  z-index: 0;
}

a.svelte-14dhi5o {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  padding: 25px 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "GT America LC Condensed", var(--font-family);
}

@media (max-width: 1024px) {
  a.svelte-14dhi5o {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.13px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

@media (max-width: 680px) {
  a.svelte-14dhi5o {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.61px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

a.svelte-xfd5yz {
  margin-bottom: -3px;
}

.projects__wrapper.svelte-xfd5yz {
  display: block;
  background-color: #1f1f1f;
  position: relative;
  padding-top: 50px;
}

.action.svelte-xfd5yz {
  text-align: center;
  display: block;
  font-family: "GT America LC Condensed", var(--font-family);
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 50px;
  background-color: #1f1f1f;
  position: relative;
}

.projects.svelte-kb8lsw {
  margin-top: 60px;
}

.img.svelte-w5zyd8 {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
  aspect-ratio: 1820/1066;
}

img.svelte-w5zyd8 {
  width: 100%;
  aspect-ratio: 1820/1066;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  .img.svelte-w5zyd8,
  img.svelte-w5zyd8 {
    width: 100%;
    height: auto;
  }
}

a.svelte-w5zyd8 {
  font-family: "GT America LC Condensed", var(--font-family);
  font-weight: 300;
  font-size: 0.8rem;
  display: block;
  text-align: center;
  margin-top: 60px;
}

.cards.svelte-lf5dgy.svelte-lf5dgy {
  margin-top: 50px;
}

@media (max-width: 719px) {
  .cards.svelte-lf5dgy.svelte-lf5dgy {
    margin-top: 0;
  }
}

.action.svelte-lf5dgy.svelte-lf5dgy {
  font-size: 0.8rem;
}

.video.svelte-lf5dgy.svelte-lf5dgy {
  width: 100%;
  height: 100vh;
  position: relative;
}

.video.svelte-lf5dgy.svelte-lf5dgy:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  /* background: linear-gradient(180deg, #0000 90%, #1f1f1f) */
  background: linear-gradient(180deg, #0000 46.95%, #1f1f1f);
}

.video.svelte-lf5dgy video.svelte-lf5dgy {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.layout.two.svelte-4ubdxg.gap.grid_3 {
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

h2.ttu.m-0 {
  margin: 20px 0 !important;
}

.titles h2 {
  line-height: 2;
}
.user_ {
  margin: 30px 0;
}

.titles h2 {
  font-size: 3vh !important;
  margin: 0 !important;
  padding: 0 !important;
  color: white;
}

.titles h3 {
  color: #bdbdbd;
  margin-top: 0;
  font-size: 2vh;
}

.menu {
  padding: 10px;
}

.second-section span {
  font-size: small;
}

/* 

.menu.svelte-19r4np0 {
    background: var(--primary-bg-color);
} */

@media screen and (max-width: 992px) {
  .layout.two.svelte-4ubdxg.gap.grid_3 {
    grid-template-columns: 1fr 1fr;
  }
}

._Portfolio {
  margin-top: -15vh;
  font-size: x-large;
  position: absolute;
  z-index: 5;
}

._Portfolio h2 {
  font-size: 8vh !important;
  margin: 0 50px;
}

a.video-popup.mfp-iframe {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  background: #26d367;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
  }
}

.waves {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #26d36825;
  opacity: 0;
  border-radius: 50%;

  z-index: -1;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}

.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.icone {
  position: fixed;
  z-index: 999999999;
  bottom: 25px;
  right: 25px;
}

.icone svg {
  width: 70%;
  cursor: pointer;
}

.waves-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  ._Portfolio ul.links.svelte-15esu0b,
  ._Portfolio h2 {
    display: flex;
    font-size: medium !important;
  }

  .icone {
    width: 60px;
    height: 60px;
  }

  header.svelte-15esu0b.svelte-15esu0b {
    padding: 0 !important;
  }

  header.svelte-15esu0b.svelte-15esu0b {
    background: rgb(31 31 31 / 68%) !important;
    min-height: 100px !important;
  }

  ._Portfolio {
    margin-top: -25vh;
    font-size: xx-large;
    position: absolute;
    z-index: 5;
  }
  .menu__wrapper.svelte-19r4np0 {
    padding: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  footer.svelte-79dz0t.foot {
    padding: 0 !important;
  }
  .titles {
    margin: 3vh 0;
  }
}

ul.socials.svelte-79dz0t li a svg {
  width: 25px;
  height: 25px;
}

a {
  background-color: transparent;
}

a {
  color: inherit;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

input:focus {
  background: transparent !important;
}

.video.svelte-lf5dgy.pro {
  background: linear-gradient(180deg, #0000 46.95%, #1f1f1f);
}

.SERVICES a {
  border-bottom: 2px solid;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-bg-color) inset !important;
  -webkit-text-fill-color: white !important;
}

.layout.half-and-third.svelte-1czmovr.gap.align_bottom.wrap_md {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 992px) {
  .logo {
    width: 50%;
  }
  .logo a img {
    width: 100%;
  }

  .projects__wrapper.svelte-xfd5yz {
    padding-top: 5px;
  }
  ul.links.svelte-15esu0b {
    gap: 0;
    margin: 0;
    padding: 0;
  }
  ._Portfolio h2 {
    margin: 0;
    font-size: x-large !important;
    margin: 10px 0px;
  }
  ul.links.svelte-15esu0b li a {
    padding: 0 !important;
    margin: 0 !important;
  }
  ._Portfolio {
    margin: 10px !important;
    margin-top: -12vh !important;
  }
  .projects__wrapper.svelte-xfd5yz {
    background-color: #1f1f1f !important;
  }
  .layout.half-and-third.svelte-1czmovr.gap.align_bottom.wrap_md {
    display: block;
    margin: 10vh 0;
  }
}

article.m.svelte-14dhi5o {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  text-transform: capitalize;
}

.menu.svelte-19r4np0 {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 320px;
  width: 50vw;
  height: 100%;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 10;
  transition: right 0.6s ease;
  overflow: scroll;
}

.toggle-button.active {
  background-color: #e6b595;
  color: white;
  border-radius: 5px;
}
